html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#helpUI {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85); 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto; 
  padding: 20px;
}

  #helpTable {
    width: 200%  !important;
    max-width: 1200px !important;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.1);
    table-layout: auto;
    border-radius: 15px; 
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
  }
  
  #helpTable th,
  #helpTable td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ecf0f1;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: break-word;
  }

  #helpTable thead {
    background-color: #ff5722;
    color: white;
  }
  
  #helpTable tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  #helpTable tbody tr:hover {
    background-color: rgba(255, 87, 34, 0.3);
    transition: background-color 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    #helpTable {
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 480px) {
    #helpTable {
      font-size: 0.8em;
    }
  }

  #helpIcon {
    position: fixed;
    bottom: 70px;
    right: 25px;
    z-index: 1010;
  }

  #infoIcon {
    position: fixed;
    bottom: 130px;
    right: 25px;
    z-index: 1010;
  }
  
  #helpIcon img {
    width: 40px;
    height: 40px;
    cursor: pointer; 
  }
  
  #helpMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  #logoTopLeft {
    position: absolute;
    top: 10px; 
    left: 10px;
    max-height: 100px; 
    max-width: 100px; 
    z-index: 1010;
  }
  
  #logoTopRight {
    position: absolute;
    top: 10px; 
    right: 10px; 
    max-height: 100px; 
    max-width: 300px;
    z-index: 1010;
  }

  #helpFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 0.9em;
    z-index: 1010;
  }

 #footer-bottom p {
    font-size: 1.2em;
    margin: 0; 
    padding: 5px 0; 
    color: white; 
  }


  #closehelp {
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  #closehelp:hover {
    background-color: #e64a19;
    transform: scale(1.1);
  }